
  <div class="outer-container">
    <div class="inner-container">
      <img src="images/jedi.png" alt="" class="logo">
      <p>
        Hey, I'm <b>Projjol</b>, a full stack developer.
      </p>
      <p>
        Final year Engineering Student. Have a compulsive need to read <b><a href="http://news.ycombinator.com">HN</a></b> and engineering blogs multiple times a day.
      </p>
      <p>
        I like contributing to Open Source projects and building prouducts. A <b>lot</b>. 
      </p>
      <p>
        Reach out to me at <a href="https://twitter.com/ProjjolBanerji"><span >@</span>ProjjolBanerji</a> or shoot me a mail <a href="mailto:probaner23@gmail.com">here</a>!
      </p>
      <ul class="elsewhere">
          <li class="elsewhere__item"><a href="http://github.com/Projjol">GitHub</a></li>
          <li class="elsewhere__item"><a href="https://angel.co/projjol-banerji">AngelList</a></li>
          <li class="elsewhere__item"><a href="https://www.linkedin.com/in/drstm">LinkedIn</a></li>
          <li class="elsewhere__item"><a href="Resume.pdf">Resume</a></li>
        </ul>
    </div>
  </div>

