
  <div class="outer-container">
    <div class="inner-container">
      <img src="images/jedi.png" alt="" class="logo">
      <p>
        Hey, I'm <b>Projjol</b>, a software engineer.
      </p>
      <p>
        I'm currently finishing my Master's degree from <b>NYU</b> in <b><a href="https://cs.nyu.edu/ms-cei/index.html">Computing,Entrepreneurship and Innovation</a></b>.
      </p>
      <p>
       Have a compulsive need to read <b><a href="http://news.ycombinator.com">HN</a></b> and engineering blogs multiple times a day.
      </p>
      <p>
        I like contributing to Open Source projects and building products. I was a part of the <b><a href="https://github.com/coala/coala/">coala</a></b> project, <b><a href="https://mozillians.org/en-US/">mozillians</a></b> and a previous maintainer for the <b><a href="https://github.com/not-kennethreitz">kennethreitz.org</a></b> organization.
      </p>
      <p>
        Reach out to me at <a href="https://twitter.com/ProjjolBanerji"><span >@</span>ProjjolBanerji</a> or shoot me a mail <a href="mailto:ping@projjol.me">here</a>!
      </p>
      <ul class="elsewhere">
          <li class="elsewhere__item"><a href="http://github.com/drstm">GitHub</a></li>
          <li class="elsewhere__item"><a href="https://angel.co/projjol-banerji">AngelList</a></li>
          <li class="elsewhere__item"><a href="https://www.linkedin.com/in/drstm">LinkedIn</a></li>
          <li class="elsewhere__item"><a href="Resume.pdf">Resume</a></li>
          <li class="elsewhere__item"><a href="http://blog.projjol.me">Blog</a></li>
        </ul>
    </div>
  </div>

