

 <head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projjol Banerji </title>

  <link rel="apple-touch-icon" href="/images/jedi.png"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="/images/jedi.png" />

  <link rel="stylesheet" href="/assets/application.css">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

  

  <meta name="author" content="Projjol">
  <meta name="description" content="Personal landing page for Projjol"/>

    
  <script type="text/javascript">
    console.log('Plan to take over the world one day. Just saying');
  </script>
</head>